body {
  font-family: 'Roboto', Overpass;
  background-image: url("https://wallpaperset.com/w/full/7/7/a/38882.jpg");
  background-size: cover;
}

header {
  background-image: url("https://i.imgur.com/Vj5JV5r.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #888888;
  text-shadow: 2px 2px #000000;
  font-size: 64px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  margin-top: 40px;
}

label {
  margin-right: 10px;
  color: #00ffff;
  font-size: 18px;
}

input[type="text"], select, button {
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#new-task {
  flex-grow: 1;
  background-color: #FFFFFF;
  padding: 10px;
}

#add-task {
  background-color: #008CBA;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  padding: 10px;
  margin-left: 20px;
}

#add-task:hover {
  background-color: #006F8B;
}

#filter-category, #sort-by {
  margin-left: 20px;
  font-size: 18px;
  color: #444444;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  animation: fadeIn 0.5s;
}

.completed {
  text-decoration: line-through;
  color: #444444;
}

.overdue {
  color: red;
}

button {
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 
}